/* Styles for website */
/* header styles */
header {
    z-index: 9999;
    padding: 20px 35px;
    background-image: url("./images/istockphoto-1317282043-170667a.jpeg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
  
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: black;
    text-shadow: 0 0 10px white;
}

header p {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
    color: black;
    text-shadow: 0 0 10px white;
}

header a {
    text-decoration: none;
    color: black;
}
  
header nav {
    margin: 7px 0;
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px white;
}
  
header nav ul li a:hover {
    background: white;
    border-radius: 5px;
    text-shadow: none;
}

/*  hero styles */
.hero {
    background-image: url("./images/istockphoto-1317282043-170667a.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
}

.row
    

/* Media queries */
@media only screen and (max-width: 992px) {
    #search-city{
        width:100%;
    }
    #search-button{
        width:100%;
    }
}
@media only screen and (max-width: 575px) {

    #property{
        justify-content: center;
    }
}